.haeder-1 {
    color: white;
    background-color: #423E3B;

}
.one-site {
    color: #CC82D3;
}
.cube-red {
    background: red;
    width: 100px;
    height: 100px;
}
.elements {
    width: 300px;
    background: #C69EF9;
    color: black;
}
.item-el {
    background: #7241B6;
    color: white;
}