.some-text {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 40px;
    line-height: 60px;
    text-align: justify;
    font-weight: 700;
    font-style: italic;
}

.some-text1 {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
    font-weight: 300;

}
.some-text2 {
    text-align: left;
    text-decoration: line-through;
    text-transform: capitalize;
}
.some-text3 {
    text-align: center;
    text-transform: uppercase;
}
.some-text4 {
    color: blueviolet;
    word-spacing: 30px;
    text-decoration: overline;
    text-decoration-style: wavy;
}
.some-text5 {
    letter-spacing: 5px;
    text-decoration: underline;
    text-decoration-style: double;
}
